.recentList {
  grid-area: new;
  display: flex;
  flex-direction:column;
  gap: 0.5em;
  div {
    font-size: 0.8em;
  };
  a {
    width: 100%;
  }
}

.recentBlock {
  display: grid;
  grid-template-areas: 
    "desc"
    "new";
  gap: 0.25em;
  padding: 1em 2em;
  background-color: var(--col-background-2);
  margin: 0.5em 0.5em;
  --aug-border-all: 1px;
  --aug-border-bg: var(--col-dark);
}

.recentDesc {
  grid-area: desc;
}


@media screen and (min-width: 600px) {
  .recentBlock {
    grid-template-areas: "desc new";
    grid-template-columns: 60%;
  }
}