.recentList {
  grid-area: new;
  display: flex;
  flex-direction:column;
  gap: 0.25em;
  div {
    font-size: 0.8em;
  };
  a {
    width: 100%;
    text-align: center;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: 1px solid var(--col-dark);
    color: var(--col-primary);
    background-color: var(--col-background-2);
    &:hover {
      color: var(--col-light);
      border: 1px solid var(--col-primary);
      background-color: var(--col-background);
    }
  }
}

.recentBlock {
  display: grid;
  grid-template-areas: 
    "desc"
    "new";
  gap: 0.25em;
  padding: 0.5em 1em;
  background-color: var(--col-background-2);
  margin: 1em 3em;
  border-radius: 2em;
}

.recentDesc {
  grid-area: desc;
}


@media screen and (min-width: 600px) {
  .recentBlock {
    grid-template-areas: "desc new";
    grid-template-columns: 60%;
  }
}