html, body {
  font-family: system-ui, Segoe UI, Helvetica Neue, Arial;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: var(--color-dark-gray);
  letter-spacing:0.015rem;

  --max-width-s : 480px;
  --max-width-m : 1024px;
  --max-width-l : 1440px;

  --baseline : 30px;

  --color-dark-gray: #212121;

  --col-light: hsl(34, 0%, 85%);
  --col-primary: hsl(34, 0%, 62%);
  --col-dark: hsl(35, 0%, 19%);
  --col-background: hsl(34, 0%, 3%);
  --col-background-2:hsl(35, 0%, 5%);
  --col-accent: hsl(17, 0%, 62%);
  --col-negative: hsl(10, 55%, 46%);
  --col-positive: hsl(120, 45%, 51%);
  --col-hover: white;
  --col-negative-hover: hsl(10, 100%, 70%);

  --font-primary: sans-serif;
  --font-code: monospace;
  --font-narrow: sans-serif;

  overflow: auto;
}

* { box-sizing: border-box; }

#__next{
  height:100vh;
}

:root {

  
}

img {
  max-width: 100%;
  width: auto;
}

h1, h2, h3, h4 {
  line-height: 1.2;
}

h1 { font-size: 2rem; }

h2 { font-size: 1.8rem; }

h3 { font-size: 1.6rem; }

h4 { font-size: 1.4rem; }

h5 { font-size: 1.2rem; }

h6 { font-size: 1.1rem; }

a {
  color: var(--col-light);
  &:hover {
    text-shadow: 0 0 2px var(--col-light);
  }
}

.page-panel {
  width: var(--max-width-s);
  max-width: 1024px;
  margin: 3rem auto;
  background-color: var(--col-background);
  border: 1px solid var(--col-primary);
  padding: 10px;
  header h1 {
    border-bottom: 3px solid var(--col-dark);
    border-radius: 3px;
  }
}


@media screen and (min-width: 1024px) {
  .page-panel {
    width: var(--max-width-m);
  }
}

@media screen and (min-width: 1600px) {
  .page-panel {
    width: var(--max-width-l);
  }
}

.deck {
  margin: 0 auto;
  height: 100vh;
  background-color: rgb(30, 34, 34);
  width: 1200px;
  border-left: 5px solid hsla(180, 6%, 25%, 0.5);
  border-right: 5px solid hsla(180, 6%, 25%, 0.5);
  box-shadow: 0 0 24px rgb(30, 34, 34);
  padding: 0.5em 4em;

  .deckScreen {
    height: 100%;
    background-color: black;
    --aug-border-bg: hsla(180, 7%, 47%, 0.5);
    --aug-t-extend1: 8em;
    --aug-t: 2em;
    --aug-b-extend1: 40em;
    --aug-tl: 2em;
    --aug-tr: 2em;
    --aug-bl: 2em;
    --aug-br: 2em;

  }
    .deckStatus {
      padding: 0.45em 1.5em 0.2em;
      border-bottom: 1px solid #333;
      color: white;
      display: flex;
      justify-content:space-between;
      font-family: var(--font-narrow);
      font-size: 1.1em;
      .deckConnection {
        display:flex;
        justify-content:end;
        gap:1em;
        align-items: center;
      }
    }
}