html, body {
  font-family: system-ui, Segoe UI, Helvetica Neue, Arial;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: var(--color-dark-gray);
  letter-spacing:0.015rem;

  --max-width-s : 640px;
  --max-width-m : 1024px;
  --max-width-l : 1440px;

  --baseline : 30px;

  --color-dark-gray: #212121;

  --col-light: hsl(34, 0%, 85%);
  --col-primary: hsl(34, 0%, 62%);
  --col-dark: hsl(35, 0%, 19%);
  --col-background: hsl(34, 0%, 3%);
  --col-background-2:hsl(35, 0%, 5%);
  --col-accent: hsl(17, 0%, 62%);
  --col-negative: hsl(10, 55%, 46%);
  --col-positive: hsl(120, 45%, 51%);
  --col-hover: white;
  --col-negative-hover: hsl(10, 100%, 70%);

  --font-primary: sans-serif;
  --font-code: monospace;
  --font-narrow: sans-serif;

  overflow: auto;
}

* { box-sizing: border-box; }

#__next{
  height:100vh;
}

:root {

  
}

img {
  max-width: 100%;
  width: auto;
}

h1, h2, h3, h4 {
  line-height: 1.2;
}

h1 { font-size: 2rem; }

h2 { font-size: 1.8rem; }

h3 { font-size: 1.6rem; }

h4 { font-size: 1.4rem; }

h5 { font-size: 1.2rem; }

h6 { font-size: 1.1rem; }

a {
  color: var(--col-light);
  &:hover {
    text-shadow: 0 0 2px var(--col-light);
  }
}

.page-panel {
  width: calc(100% - 20px);
  max-width: 1024px;
  margin: 3rem auto;
  background-color: var(--col-background);
  border: 1px solid var(--col-primary);
  padding: 10px;
  header h1 {
    border-bottom: 3px solid var(--col-dark);
    border-radius: 3px;
  }
}