@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");
/* @import url('https://fonts.cdnfonts.com/css/khand'); Old Narrow Font. */
@import url("https://fonts.cdnfonts.com/css/assailand");

.themed {
  background: var(--col-background) center/cover url("/images/cyberpunk-background.png") fixed;
  font-family: var(--font-primary);
  color: var(--col-primary);
  overflow: auto;
  min-height: 100vh;
}


.retropunk {
  --col-light: hsl(34, 100%, 85%);
  --col-primary: hsl(34, 93%, 62%);
  --col-dark: hsl(35, 100%, 19%);
  --col-background: hsl(34, 100%, 3%);
  --col-background-2: hsl(35, 100%, 5%);
  --col-accent: hsl(17, 93%, 62%);
  --col-disabled: hsl(35, 45%, 35%);
  letter-spacing:0.025em;

  --font-heading: sans-serif;
  --font-primary: "Chakra Petch", "Roboto", sans-serif;
  --font-code: "Share Tech Mono", monospace;
  --font-narrow: "Assailand", "Arial Narrow", sans-serif;

  .background {
    background: black center/cover url("/bg_retropunkLink.png") fixed;
    background-size: cover;
  }
}
/*'Khand', */
.retropunkBackground {
  background: black center/cover url("/bg_retropunkLight.png") fixed;
  background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

.retropunkPanel {
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%)
      100% 2px,
    /* black bars */
      linear-gradient(
        90deg,
        rgba(255, 0, 0, 0.06),
        rgba(0, 255, 0, 0.02),
        rgba(0, 0, 255, 0.06)
      )
      3px 100%,
    url("/bg_retropunkDark.png") center/cover border-box fixed; /* background image */
  background-size: 100% 2px, 3px 100%, cover;
  -o-background-size: 100% 2px, 3px 100%, cover;
  -webkit-background-size: 100% 2px, 3px 100%, cover;
  -moz-background-size: 100% 2px, 3px 100%, cover;
}