.container {
  margin: 0.5em;
  padding: 1em;
  --aug-border-all:2px;
  --aug-border-bg:var(--col-dark);
  --aug-br-inset1: 50%;
  --aug-br: 2em;

  .imgFrame {
    --aug-border-all:1px;
    --aug-border-bg:var(--col-dark);
    --aug-br-inset1: 50%;
    --aug-br: 2em;
  }
  img {
    width: 100%;
    height: auto;
    margin:0px;
    display:block;
  }

  .schedule {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    margin-top:0.5em;
    margin-bottom: 0.25em;
    font-family: var(--font-heading);
    letter-spacing:0.1em;
  }
  h2 {
    margin-top:0.25em;
    font-size: 1.1em;
    letter-spacing:0.05em;
    font-style:italic;
    font-family: var(--font-heading);
    font-weight: 200; 
  }
  .next {
    border-bottom:1px solid var(--col-dark);
  }
}
