.console {
  line-height: 90%;
  font-size: 0.75rem;
  background-color: var(--col-background-2);
  color: var(--col-accent);
  grid-area: code;
}

.home {
  display: block;
  text-align: left;
  padding: 0.25em 0.5em;
  font-family: var(--font-primary);
  letter-spacing:0;
  line-height: 1;
}

.navContainer {
  width: 1024px;
  display: grid;
  overflow: hidden;
  background-color: var(--col-background-2);
  --aug-border-top: 0px;
  --aug-border-all: 3px;
  --aug-border-bg: var(--col-dark);
  grid-template-columns: auto 1fr;
  grid-template-areas: 
    "brand brand expand"
    "code code code";
  gap:0.5em;
  padding: 0.5em 3em 1.5em;
  margin: 0 auto;

  .brand {
    grid-area: brand;
    max-height: 3em;
  }
  .navOptions {
    display:none;
    grid-area: nav;
    &.responsive {
      display: grid;
    }
  }
  .expandToggle {
    cursor: pointer;
    grid-area: expand;
  }
  .console {
    line-height: 90%;
    font-size: 0.75rem;
    background-color: var(--col-background-2);
    color: var(--col-accent);
    grid-area: code;
  }
  &.responsive {
    grid-template-areas:
      "brand brand expand"
      "nav nav nav";
    .navOptions {
      display: grid;
      grid-template-rows: auto;
    }
    .console {
      display:none;
    }
  }
}

@media screen and (min-width: 600px) {
  .navContainer {
    grid-template-areas: 
      "brand nav nav"
      "code code code";

    .navOptions {
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: repeat(6, auto);
    }
    
    .expandToggle {
      display: none;
    }
    &.responsive {
      grid-template-areas: 
        "brand nav expand"
        "code code code";
  
      .navOptions {
        display: grid;
        grid-auto-flow: row;
      }
      .console {
        display: block;
      }
    }
  }
}

a.cyberPunk {
  --aug-clip-br1: initial;
  --aug-br1-width: 1em;
  --aug-br1-height: 3em;
  --aug-br1-clipmod-x: 0.33;
  --aug-clip-tl1: initial;
  --aug-tl1-width: 1em;
  --aug-tl1-height: 3em;
  --aug-tl1-clipmod-x: 0.33;
  --aug-border-bg: var(--col-dark);
  --aug-border-all: 1px;
  display: flex;
  align-items: center;
  height:3em;
  background-color:black;
  padding: 0 1.5em;
  margin-left:-0.8em;
  font-style:italic;
  font-family: var(--font-heading);
  letter-spacing: 0.1em;
  text-decoration: none;
  &.disabled {
    color:var(--col-disabled);
  }
}