.linkBox{
  display: block;
  height: 3em;
  width: 16em;
  --aug-border-all:1px;
  --aug-border-bg:var(--col-dark);
  --aug-tl:0.35em;
  --aug-tl-inset1:4em;
  --aug-br:0.35em;
  --aug-br-inset1:4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--col-background);
  transition: 1s;
  span{
    padding-left: 3em;
    padding-right: 2em;
    transition:1.5s;
  }
}

.linkBox:hover {
  background-color: var(--col-background-2);
  span{
    padding-left: 4em;
    padding-right: 1em;
  }
}