.sidebar{
  max-width: 400px;
  border: 1px solid var(--col-dark);
  background-color: var(--col-background-2);
  margin:0 auto 0;

  @media (min-width: 800px) {
    max-width: 400px;
    float:right;
    display:block;
    clear:right;
    margin-left:1rem;
  }
}

.sidebarHeader{
  text-align:center;
  border-bottom: 1px solid var(--col-primary);
}